<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="schedulerQuartz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="calibrationMonthQtzGenerateMonthTrigger" />
				<ref bean="calibrationMonthQtzGenerateYearTrigger" />
			</list>
		</property>
	</bean>

	<bean id="calibrationMonthQtzGenerateMonthJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="calibrationMonthQtz"></property>
		<property name="targetMethod" value="generateMonth"></property>
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="calibrationMonthQtzGenerateMonthTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="calibrationMonthQtzGenerateMonthJob" />
		<property name="cronExpression" value="1 1 1 1 * ?" />
	</bean>

	<bean id="calibrationMonthQtzGenerateYearJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="calibrationMonthQtz"></property>
		<property name="targetMethod" value="generateYear"></property>
		<property name="concurrent" value="false"></property>
	</bean>
	<bean id="calibrationMonthQtzGenerateYearTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="calibrationMonthQtzGenerateYearJob" />
		<property name="cronExpression" value="59 59 23 31 12 ?" />
	</bean>

</beans>